
body{
    /* background-image: url("https://cdn.freecodecamp.org/curriculum/cat-photo-app/relaxing-cat.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed; */

    /* background: center top fixed    image,position attachment */
    /* url("https://cdn.freecodecamp.org/curriculum/cat-photo-app/relaxing-cat.jpg"); */

    .linear-gradient{
        background: linear-gradient(to bottom, red, orange, yellow, blue);
        height: 150px;
      }

      .radial-gradient {
        background: radial-gradient(closest-side at center, red, yellow 50%, green);        
        height: 50vh;
      }


      img {
        border: 2px solid red;
      }

      img {
        border-top: 10px solid red;
        border-right: 10px dashed green;
        border-bottom: 10px dotted blue;
        border-left: 10px double purple;

        outline: 3px solid gold;
      }


}