.box {
    width: 200px;
    max-width: 150px;
    height: 200px;
    max-height: 150px;
    background-color: lightcoral;
  }

  .container{
    display: flex;
  }

  /* figure img {
    border: 4px solid red;
  } */

  img + figcaption {
    border: 4px solid black;
  }

  h2 + p {
    color: green;
  }

  .inline-block-element {
    width: 150px;
    height: 100px;
  }
  
  .element1 {
    background-color: lightblue;
  }
  
  .element2 {
    background-color: lightgreen;
  }
  
  p {
    margin: 10px;
    border: 2px solid black;
  }

  p {
    padding: 20px;
    border: 2px solid black;
  }


  p {
    color: blue;
  }

  #para {
    color: red; 
  }

  #para {
    color: red; 
  }
  
  .example-para {
    color: green;
  }
  
  p {
    color: blue;
  }

  * {
    margin: 0;
    padding: 0;
  }

  .para {
    background-color: black;
    color: white;
  }

  .para {
    background-color: black !important;
    color: white !important;
  }