*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background: #f9f9f9;
    color: #333;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 1rem;
}

header h1 {
    color: #2c3e50;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
}

nav a{
    text-decoration: none;
    color: #2c3e50;
    font-weight: 500;
}

.hero{
    background-color: lightgrey;
    text-align: center;
    padding: 4rem 1rem;
    margin-bottom: 2rem;
}

.hero h2{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.hero .btn{
    display: inline-block;
    background-color: #2c3e50;
    color: white;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 4px;
}

.products h3 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #2c3e50;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap: 2rem;
}

.product-card {
    background: #fff;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgb( 0, 0, 0 ,0.1) ;
}

.product-card img{
    max-width: 100%;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.product-card h4{
    margin: 0.5rem 0 ;
}

.product-card button{
    background: #27ae60;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.product-card button:hover{
    background: #219150;
}

footer {
    background:#2c3e50;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}