*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    place-content: center;
    min-height: 100vh;
}

body {
    line-height: 1.5;
}

.blog-post-card{
    width: 350px;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    margin: 40px auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    background-color: white;
}


img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
    border-bottom: 3px solid #ddd;
  }


  .post-content {
    padding: 20px;           
  }

.post-title{
    margin: 10px 0;          
  color: #333;           
  font-size: 22px;
}

.post-expert{
    margin: 10px 0 20px;     
    color: #555;           
    font-size: 14px;
    line-height: 1.6;
}


.read-more {
    display: inline-block;   
    margin: 10px auto;       
    padding: 10px 20px;      
    background-color: #333;  
    color: white;          
    text-decoration: none;   
    border-radius: 5px;      
    transition: background 0.3s;
  }
